<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-info" routerLink="promise" routerLinkActive="active">Promise</a>
        <a class="btn btn-outline-success" routerLink="subject-behaviorSubject" routerLinkActive="active">Subject() &
            BehaviorSubject()</a>
        <a class="btn btn-outline-warning" routerLink="form-event" routerLinkActive="active">FromEvent()</a>
        <a class="btn btn-outline-success" routerLink="pluck" routerLinkActive="active">Pluck()</a>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-info">of()</a>
        <a class="btn btn-outline-danger">from()</a>
        <a class="btn btn-outline-success">catchError()</a>
        <a class="btn btn-outline-info">throwError()</a>
        <a class="btn btn-outline-warning">filter()</a>
        <a class="btn btn-outline-secondary">first()</a>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-dark" routerLink="toArray" routerLinkActive="active">toArray()</a>
        <a class="btn btn-outline-warning">zip() & forkJoin()</a>
        <a class="btn btn-outline-danger">map()</a>
        <a class="btn btn-outline-danger">switchMap()</a>
        <a class="btn btn-outline-dark">Observable()</a>
        <a class="btn btn-outline-warning">pipe()</a>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-info">delay()</a>
        <a class="btn btn-outline-warning">interval()</a>
        <a class="btn btn-outline-secondary">timer()</a>
        <a class="btn btn-outline-secondary">takeUntil()</a>
        <a class="btn btn-outline-danger">take()</a>
        <a class="btn btn-outline-warning">Retry | RetryWhen | Scan | Delay</a>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-warning">DebounceTime</a>
        <a class="btn btn-outline-secondary">DistinctUntilChanged</a>
        <a class="btn btn-outline-warning">ConcatMap</a>
        <a class="btn btn-outline-danger">Replay</a>
        <a class="btn btn-outline-info">MergeMap</a>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <a class="btn btn-outline-secondary">ExhaustMap</a>
        <a class="btn btn-outline-danger">ShareReplay</a>
        <a class="btn btn-outline-warning">CatchError | ThrowError</a>
    </div>
</div>
<hr>

<div style="padding: 20px 40px">
    <router-outlet></router-outlet>
</div>