<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-info">Promise</button>
        <button type="button" class="btn btn-outline-dark">Synchronous | Asynchronous</button>
        <button type="button" class="btn btn-outline-danger">Async & Await</button>
        <button type="button" class="btn btn-outline-warning">FromEvent()</button>
        <button type="button" class="btn btn-outline-success">Pluck()</button>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-info">of()</button>
        <button type="button" class="btn btn-outline-danger">from()</button>
        <button type="button" class="btn btn-outline-success">catchError()</button>
        <button type="button" class="btn btn-outline-info">throwError()</button>
        <button type="button" class="btn btn-outline-warning">filter()</button>
        <button type="button" class="btn btn-outline-secondary">first()</button>
        <button type="button" class="btn btn-outline-success" routerLink="subject-behaviorSubject" routerLinkActive="active">subject &
            BehaviorSubject</button>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-dark">toArray()</button>
        <button type="button" class="btn btn-outline-warning">forkJoin()</button>
        <button type="button" class="btn btn-outline-danger">map()</button>
        <button type="button" class="btn btn-outline-dark">Observable()</button>
        <button type="button" class="btn btn-outline-danger">switchMap()</button>
        <button type="button" class="btn btn-outline-warning">pipe()</button>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-info">delay()</button>
        <button type="button" class="btn btn-outline-warning">interval()</button>
        <button type="button" class="btn btn-outline-secondary">timer()</button>
        <button type="button" class="btn btn-outline-secondary">takeUntil()</button>
        <button type="button" class="btn btn-outline-danger">take()</button>
        <button type="button" class="btn btn-outline-warning">Retry | RetryWhen | Scan | Delay</button>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-warning">DebounceTime</button>
        <button type="button" class="btn btn-outline-secondary">DistinctUntilChanged</button>
        <button type="button" class="btn btn-outline-warning">ConcatMap</button>
        <button type="button" class="btn btn-outline-danger">Replay</button>
        <button type="button" class="btn btn-outline-info">MergeMap</button>
        <button type="button" class="btn btn-outline-warning">SwitchMap</button>
    </div>
</div>
<div class="col-md-12">
    <div class="btn-group p-4" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-secondary">ExhaustMap</button>
        <button type="button" class="btn btn-outline-danger">ShareReplay</button>
        <button type="button" class="btn btn-outline-warning">CatchError | ThrowError</button>
    </div>
</div>
<hr>

<div style="padding: 20px 40px">
    <router-outlet></router-outlet>
</div>