<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                What is Directives?
            </div>
            <div class="card-body">
                <p>Components break up the application into smaller parts; whereas,
                    Directives add behavior to an existing DOM element.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Type of Directives?
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>Component Directives </span>are the most common directives. They are directives with a
                        template.
                    </li>
                    <li class="list-group-item">
                        <span>Structural Directives</span> change the DOM layout by adding and removing DOM elements. Ex- ngFor, ngIf, ngSwitch.
                    </li>
                    <li class="list-group-item">
                        <span>Attribute directives</span> change the appearance or behavior of an element, component, or another directive. Ex- ngClass, ngStyle.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>