<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="how-to" routerLinkActive="active"
            >How To</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rxjs-operators" routerLinkActive="active"
            >Rxjs Operators</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-light" type="button">Login</button>
      </form>
    </div>
  </div>
</nav>
