<div class="btn-group special" role="group" aria-label="...">
  <button type="button" routerLink="/angular-forms/reactive-form" routerLinkActive="active"
    class="btn btn-outline-secondary btn-sm">
    Reactive Form
  </button>
  <button type="button" routerLink="/angular-forms/template-driven-form" routerLinkActive="active"
    class="btn btn-outline-secondary btn-sm">
    Template Driven Form
  </button>
  <button type="button" routerLink="/angular-forms/form-array" routerLinkActive="active"
    class="btn btn-outline-secondary btn-sm">
    Form Array
  </button>
</div>

<div style="padding: 20px 40px">
  <router-outlet></router-outlet>
</div>