<div class="btn-group m-4" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-info">of()</button>
    <button type="button" class="btn btn-outline-danger">from()</button>
    <button type="button" class="btn btn-outline-success">catchError()</button>
    <button type="button" class="btn btn-outline-warning">filter()</button>
    <button type="button" class="btn btn-outline-secondary">first()</button>
    <button type="button" class="btn btn-outline-secondary">subject()</button>
    
</div>
<div class="btn-group m-4" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-dark">toArray()</button>
    <button type="button" class="btn btn-outline-warning">forkJoin()</button>
    <button type="button" class="btn btn-outline-danger">map()</button>
    <button type="button" class="btn btn-outline-dark">Observable()</button>
    <button type="button" class="btn btn-outline-warning">switchMap()</button>
    <button type="button" class="btn btn-outline-warning">pipe()</button>
</div>
<div class="btn-group m-4" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-dark">delay()</button>
    <button type="button" class="btn btn-outline-warning">interval()</button>
    <button type="button" class="btn btn-outline-secondary">timer()</button>
    <button type="button" class="btn btn-outline-warning">pipe()</button>
    <button type="button" class="btn btn-outline-danger">takeUntil()</button>
</div>