<!-- Main Body -->
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-3 m-0 p-0" style="border-right: 1px solid #6c757d">
      <div class="shadow p-5 bg-white">
        <h4>MY MEAN APP</h4>
      </div>
      <br />
      <div>
        <div class="list-group list-group-flush">
          <a
            routerLink="angular-forms"
            class="list-group-item list-group-item-action p-3"
            >Angular Forms</a
          >
          <a
            routerLink="angular-pipes"
            class="list-group-item list-group-item-action p-3"
            >Angular Pipes</a
          >
          <a
            routerLink="angular-directives"
            class="list-group-item list-group-item-action p-3"
            >Angular Directives</a
          >
          <a
            routerLink="angular-crud-app"
            class="list-group-item list-group-item-action p-3"
            >Angular CRUD App</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-9 m-0 p-0">
      <!-- Top Header bar -->
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

