<div class="btn-group special" role="group" aria-label="...">
  <button
    type="button"
    routerLink="/angular-crud-app/node-backend"
    routerLinkActive="active"
    class="btn btn-outline-secondary btn-sm"
  >
    Node JS (Backend) 
  </button>
  <button
    type="button"
    routerLink="#"
    routerLinkActive="active"
    class="btn btn-outline-secondary btn-sm"
  >
    Example - 2
  </button>
  <button
    type="button"
    routerLink="#"
    routerLinkActive="active"
    class="btn btn-outline-secondary btn-sm"
  >
    Example - 3
  </button>
</div>

<div style="padding: 20px 40px">
  <router-outlet></router-outlet>
</div>
