<div class="card mb-3">
    <div class="card-header"><span>What is promise?</span></div>
    <div class="card-body">
        <p>Promises provide a clean and robust way to handle asynchronous operations.</p>
        <p><span>States:</span> Pending, Resolved, Rejected.</p>
        <p><span>Methods:</span> then, catch, finally.</p>
        <p><span>Chaining:</span> Promises can be chained for sequential operations.</p>
        <p><span>Multiple Promises:</span> Use Promise.all and Promise.race to handle multiple promises concurrently.
        </p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header"><span>Key Characteristics of Promises</span></div>
    <div class="card-body">
        <p><span>Pending: </span> The initial state, neither fulfilled nor rejected.</p>
        <p><span>Resolved: </span>The operation completed successfully, and the promise has a value.</p>
        <p><span>Rejected: </span>The operation failed, and the promise has a reason for the failure.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header"><span>Synchronous | Asynchronous</span></div>
    <div class="card-body">
        <p><span>Synchronous: </span> means tasks happen one after another. Each task must wait for the previous one to
            finish before it can start.</p>
        <p><span>Asynchronous: </span> means tasks can happen independently of each other. A task can start and then
            move on to another task without waiting for the previous one to finish.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header"><span>Async & Await in JavaScript:</span></div>
    <div class="card-body">
        <p><span>async and await: </span> are used to handle asynchronous operations more easily in JavaScript. They make asynchronous code look and behave like synchronous code, making it easier to read and write.</p>
    </div>
</div>