<!-- src/app/shared/components/autocomplete/autocomplete.component.html -->
<div class="autocomplete-container">
    <input
      type="text"
      placeholder="Pick one"
      [formControl]="myControl"
      (input)="onInput()"
      (blur)="onBlur()"
      (focus)="onFocus()"
    />
    <ul *ngIf="filteredOptions.length && showOptions" class="autocomplete-options">
      <li
        *ngFor="let option of filteredOptions"
        (click)="onOptionSelected(option)"
        [innerHTML]="highlight(option)"
      ></li>
    </ul>
  </div>
  